<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="__VENDOR__/layui/css/layui.css">
	<script src="__INDEX__/custom/js/jquery.min.js"></script>
	<script src="__VENDOR__/layui/layui.js"></script>
	<title>Document</title>
	<style>
		#header{
			max-width: 99%;
			height: 100%;
			margin: 10px auto;
		}
		h2{
			margin-top: 40px;
		}
		#content{
			max-width: 980px;
			height: 100%;
			margin: 10px auto;
		}
		#content form{
			max-width: 550px;
			height: 80%;
			margin: 10px auto;
			margin-top: 20px;
		}
		#content form label{
			font-weight:650;
		}
		#content form input{
			border-width: 1.3px;
			border-radius: 6px;
			border-color: #D1D1D1;
		}
		.layui-form-radioed>i{
			color: dimgray;
		}
	</style>
</head>

<body>
	<div id="header">
		<h2 style="text-align:center;font-size: 2em;">第五届材料与腐蚀防护大会</h2>
		<hr>
	</div>
	<div id="content">
		<h3 style="text-align:center;font-size: 18px;">参会回执表</h3>
		<hr>
		<form class="layui-form" action="index/enlist/index?id={$currID}" method="POST">
			<div class="layui-form-item">
				<label class="layui-form-label"> <span style="color:#CD2626;margin-right: 5px">*</span> 姓&nbsp;名</label>
				<div class="layui-input-block">
					<input type="text" name="name" required lay-verify="required" autocomplete="off" class="layui-input">
					<input type="hidden" name="__token__" value="{$Request.token}" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"> <span style="color:#CD2626;margin-right: 5px">*</span> 电&nbsp;话</label>
				<div class="layui-input-block">
					<input type="text" name="phone" required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"> <span style="color:#CD2626;margin-right: 5px">*</span> 邮&nbsp;箱</label>
				<div class="layui-input-block">
					<input type="text" name="email" required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label"> <span style="color:#CD2626;margin-right: 5px">*</span> 单&nbsp;位</label>
				<div class="layui-input-block">
					<input type="text" name="org" required lay-verify="required" autocomplete="off" class="layui-input">
				</div>
			</div>
		
			<div class="layui-form-item">
				<label class="layui-form-label">是否有论文</label>
				<div class="layui-input-block">
					<input type="radio" name="hasPaper" value="1" title="是">
					<input type="radio" name="hasPaper" value="0" title="否" checked>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">是否做报告</label>
				<div class="layui-input-block">
					<input type="radio" name="isReport" value="1" title="是">
					<input type="radio" name="isReport" value="0" title="否" checked>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
			{if condition="$msg neq ''"}
			<p id="ErrorMsg" hidden>{$msg}</p>
			{else}
			<p id="Msg" hidden>{$msg}</p>
			{/if}
		</form>
	</div>

	<script>
		//Demo
		layui.use(['form','layer'], function () {
			var form = layui.form;
			var layer = layui.layer;
			// 弹出错误信息	
			var msg = $("#ErrorMsg").text();
			if(msg != ''){
				layer.open({
					icon: 2
					, title: '错误提示'
					, content: msg
				});
			}
		});
	</script>
</body>

</html>