<div class="width-1200" style="height:30px;">
	<ul class="clearfix">
		<li><a href="/index/conference/index">会议主页</a></li>
		<img src=" __INDEX__/custom/images/a2.png" alt="" class="sc-fl" style="margin-top: 1.1%;">
		<li><a href="/index/conference/unit">组织机构</a></li>
		<img src=" __INDEX__/custom/images/a2.png" alt="" class="sc-fl" style="margin-top: 1.1%;">
		<li><a href="/index/conference/hotel">住宿和交通</a></li>
		<img src=" __INDEX__/custom/images/a2.png" alt="" class="sc-fl" style="margin-top: 1.1%;">
		<li><a href="/index/conference/history">历届回顾</a></li>
		<img src=" __INDEX__/custom/images/a2.png" alt="" class="sc-fl" style="margin-top: 1.1%;">
		<li><a href="/index/conference/arrange">日程安排</a></li>
		<img src=" __INDEX__/custom/images/a2.png" alt="" class="sc-fl" style="margin-top: 1.1%;">
		<li><a href="/index/conference/peperDesc">摘要征集</a></li>
		<img src=" __INDEX__/custom/images/a2.png" alt="" class="sc-fl" style="margin-top: 1.1%;">
		<li><a href="/index/conference/travel">旅游</a></li>
		<img src=" __INDEX__/custom/images/a2.png" alt="" class="sc-fl" style="margin-top: 1.1%;">
		<li><a href="/index/conference/contact">联系我们</a></li>
	</ul>
</div>