<style>
	.newNav li>a {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: normal;
		font-size: 15px;
	}
</style>

<div class="width-1200" style="height:60px;display: flex;justify-content: center;align-items: center;">
	<ul class="clearfix newNav">
		<li><a style="color: black;font-weight: bold;" href="/index/conference/index">会议首页</a></li>

		<li><a style="color: black;font-weight: bold;" href="/index/conference/unit">组织机构</a></li>

		<li><a style="color: black;font-weight: bold;" href="/index/conference/hotel">住宿和交通</a></li>

		<li><a style="color: black;font-weight: bold;" href="/index/conference/history">历届回顾</a></li>

		<li><a style="color: black;font-weight: bold;" href="/index/conference/arrange">日程安排</a></li>

		<li><a style="color: black;font-weight: bold;" href="/index/conference/peperDesc">摘要征集</a></li>

		<li><a style="color: black;font-weight: bold;" href="/index/conference/travel">旅游</a></li>

		<li><a style="color: black;font-weight: bold;" href="/index/conference/contact">联系我们</a></li>
	</ul>
</div>