<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
	<!-- <meta name="full-screen" content="yes" /> -->
	<!-- <meta name="x5-fullscreen" content="true" /> -->
	<!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>国家材料环境腐蚀科学数据中心-{$currTitle}</title>
	<link rel="stylesheet" href="__INDEX__/custom/css/bootstrap.min.css">
	<link rel="stylesheet" href="__INDEX__/custom/css/reset.css">
	<link rel="stylesheet" href="__INDEX__/custom/css/p.css">
	<link rel="stylesheet" href="__INDEX__/custom/css/acm.css">
	<link rel="stylesheet" href="__VENDOR__/layui/css/layui.css">
	<style>
		footer {
			margin-top: 80px;
		}

		.Content {
			margin: 0 auto;
		}

		.contrnItem .border-title .Title {
			font-weight: bold;
			font-size: 1.4em;
			margin-left: -10px;
		}

		.contrnItem .ItemNews a h5 {
			margin: 0 0 10px 0;
		}

		.contrnItem .ItemNews p {
			text-indent: 2em;
			color: black;
		}

		.sideItem h4 {
			margin: 20px 0 20px 0;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #f2f2f2;
			font-weight: bold;
		}

		.sideItem h5 {
			margin: 10px 0 10px 0;
		}

		.sideItem h5>a {
			/* margin: 10px 0 10px 0; */
			color: black;
		}
	</style>
</head>

<body>
	<div class="main">
		<header>{include file="common/header"}</header>
		<nav>{include file="common/nav"}</nav>
		<nav id="BallNav" class="width-1200 row" style="margin-top:20px;height: 60px;background-color: #D1D1D1;">{include
			file="conference/nav"}</nav>
		<!-- content start -->
		<div class="width-1200 sw row">

			<!-- 侧栏start -->
			<div class="col-md-3" style="min-height: 460px;padding-left: 0px;padding-right: 0px;text-align: center;border:2px solid;border-color:#e4e1e1;padding-bottom: 30px;">
				<a href="/index/enlist/index?id={$currID}" class="btn btn-primary" style="font-size:40px;padding: 10px;padding-left:40px;padding-right: 40px; border-radius: 40px;margin-top: 20px">点击报名</a>
				<br>
				<a href=""></a>
				<a href="/bill.doc" class="btn btn-primary" style="font-size:32px;padding: 10px;padding-left:20px;padding-right: 20px; border-radius: 40px;margin-top: 20px">开票信息表下载</a>
				<div class="sideItem">
					<h4>主办单位</h4>
					<div style="margin: 0 auto">
						<img src="{$base.logo}" alt="">
					</div>
				</div>

				{volist name="Org.unit" id="vo"}
				<div class="sideItem">
					<h4>{$key}</h4>
					{volist name="vo" id="v"}
					<h5><a href="{$v.Href}">{$v.name}</a></h5>
					{/volist}
				</div>
				{/volist}
			</div>
			<!-- 侧栏end -->

			<!-- 主体内容 -->
			<div class="col-md-9" style="min-height: 460px;">
				<p style="border-bottom:2px solid #006db8;height: 30px;line-height: 30px;font-size: 18px;margin-bottom: 10px;">{$Title}</p>
				{$peperDesc}
			</div>
			<!-- 主体内容end -->
		</div>
		<!-- content end -->
	</div>
	<footer>{include file="common/footer"}</footer>
	<script src="__INDEX__/custom/js/jquery.min.js"></script>
	<script src="__INDEX__/custom/js/p.js"></script>
	<script src="__INDEX__/custom/js/bootstrap.min.js"></script>
	<script src="__VENDOR__/layui/layui.js"></script>
	<script>
		$(function () {
			$('.qiehuan span').on('click', function () {
				$(this).addClass('active').siblings().removeClass('active')
			})
			var mynav = $('nav li').find('a'); //寻找导航的a元素 　　
			for (var i = 0; i < mynav.length; i++) {
				var links = mynav[i].getAttribute('href'); //取出每个链接的href属性的值
				var myurl = document.location.href; //取出当前窗口的链接
				if (myurl.indexOf(links) != -1) { //判断浏览器地址是否等于当前a元素的href属性
					$(mynav[i]).parent().addClass('nav-hover')
				}
			}
			//描点定位
			$('.platform-aside a').each(function (i) {
				$('.platform-aside a').eq(i).on('click', function () {
					$('html, body').animate({ scrollTop: $('#pone' + i).offset().top }, 500);
					$(this).addClass('current').siblings().removeClass('current');
				})
			})

		})

		layui.use('carousel', function () {
			var carousel = layui.carousel;
			//建造实例
			carousel.render({
				elem: '#test1'
				, width: '100%' //设置容器宽度
				, height: '100%'
				, arrow: 'always' //始终显示箭头
				, anim: 'fade'
				, indicator: 'none'
				, arrow: 'none'
				//,anim: 'updown' //切换动画方式
			});

			carousel.render({
				elem: '#test2'
				, width: '100%' //设置容器宽度
				, height: '100%'
				, anim: 'fade'
				, arrow: 'always' //始终显示箭头
				//,anim: 'updown' //切换动画方式
				, indicator: 'none'
				, arrow: 'none'
			});
			carousel.render({
				elem: '#test3'
				, width: '100%' //设置容器宽度
				, height: '100%'
				, anim: 'fade'
				, arrow: 'always' //始终显示箭头
				//,anim: 'updown' //切换动画方式
				, indicator: 'none'
				, arrow: 'none'
			});
			carousel.render({
				elem: '#test4'
				, width: '100%' //设置容器宽度
				, height: '100%'
				, anim: 'fade'
				, arrow: 'always' //始终显示箭头
				//,anim: 'updown' //切换动画方式
				, indicator: 'none'
				, arrow: 'none'
			});
			carousel.render({
				elem: '#test5'
				, width: '100%' //设置容器宽度
				, height: '100%'
				, anim: 'fade'
				, arrow: 'always' //始终显示箭头
				//,anim: 'updown' //切换动画方式
				, indicator: 'none'
				, arrow: 'none'
			});
		});
	</script>
</body>

</html>