<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
	<!-- <meta name="full-screen" content="yes" /> -->
	<!-- <meta name="x5-fullscreen" content="true" /> -->
	<!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>国家材料环境腐蚀科学数据中心-{$currTitle}</title>
	<link rel="stylesheet" href="__INDEX__/custom/css/bootstrap.min.css">
	<link rel="stylesheet" href="__INDEX__/custom/css/reset.css">
	<link rel="stylesheet" href="__INDEX__/custom/css/p.css">
	<link rel="stylesheet" href="__INDEX__/custom/css/acm.css">
	<style>
		footer {
			margin-top: 80px;
		}
		.Content{
			margin: 0 auto;
		}
		.contrnItem .border-title .Title{
			font-weight: bold;
			margin-left: -10px;
		}
		.contrnItem .ItemNews a h5{
			margin: 0 0 10px 0;
		}
		.contrnItem .ItemNews p{
			text-indent: 2em;
			color: black;
		}
		.sideItem h3{
			margin: 20px 0 20px 0;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #f2f2f2;
			font-weight: bold;
		}
		.sideItem h5{
			margin: 10px 0 10px 0;
		}
		.sideItem h5>a{
			/* margin: 10px 0 10px 0; */
			color: black;
		}
	</style>
</head>

<body>
	<div class="main">
		<header>{include file="common/header"}</header>
		<nav>{include file="common/nav"}</nav>
		<!-- content start -->
		<div class="width-1200 sw row" style="">
			<!-- 主体内容 -->
			<div class="col-md-8" style="min-height: 460px;">
				<img src="__INDEX__/custom/images/ball.jpg" style="width:772px;" alt="">
				<div class="contrnItem">
					<div class="border-title clearfix">
						<span></span>
						<span class="Title">最新资讯</span>
						<a href="#">
							<div class="sc-fr"><b>更多</b><img src="__INDEX__/custom/images/a7.png" alt=""></div>
						</a>
					</div>
					<div class="box-new clearfix">
						<div class="ItemNews" style="margin-left:20px;">
							<a href="#" style="color:black;margin-bottom: 10px;">
								<h5>(更新)2018第五届海洋材料与腐蚀防护大会第一轮通知</h5>
								</p>
							</a>
							<a href="#" style="color:black;">
								<h5>2018第五届海洋材料与腐蚀防护大会第一轮通知</h5>
								</p>
							</a>
							<a href="#" style="color:black;">
								<h5>2018第五届海洋材料与腐蚀防护大会第一轮通知</h5>
								</p>
							</a>
							<a href="#" style="color:black;">
								<h5>2018第五届海洋材料与腐蚀防护大会第一轮通知</h5>
								</p>
							</a>
						</div>
					</div>
				</div>

				<div class="contrnItem">
					<div class="border-title clearfix">
						<span></span>
						<span class="Title">时间节点</span>
						<a href="#">
							<div class="sc-fr"><b>更多</b><img src="__INDEX__/custom/images/a7.png" alt=""></div>
						</a>
					</div>
					<div class="box-new clearfix">
						<div class="ItemNews" style="margin-left:20px;">
							<a href="#" style="color:black;">
								<h5>会议召开时间：2018年12月8日-10日</h5>
								</p>
							</a>
							<a href="#" style="color:black;">
								<h5>会议第一轮通知：2018年3月30日</h5>
								</p>
							</a>
							<a href="#" style="color:black;">
								<h5>会议第二轮通知：2018年7月30日</h5>
								</p>
							</a>
							<a href="#" style="color:black;">
								<h5>会议第三轮通知：2018年10月30日</h5>
								</p>
							</a>
						</div>
					</div>
				</div>

				<div class="contrnItem">
					<div class="border-title clearfix">
						<span></span>
						<span class="Title">会议主题</span>
					</div>
					<div class="box-new clearfix">
						<div class="ItemNews row" style="margin-left:20px;">
							<a class="col-md-6" href="#" style="color:black;">
								<h5>海洋材料腐蚀行为及机理</h5>
								</p>
							</a>
							<a class="col-md-6" href="#" style="color:black;">
								<h5>海洋耐蚀新材料及新技术</h5>
								</p>
							</a>
							<a class="col-md-6" href="#" style="color:black;">
								<h5>能源设施腐蚀防护</h5>
								</p>
							</a>
							<a class="col-md-6" href="#" style="color:black;">
								<h5>高端装备腐蚀防护</h5>
								</p>
							</a>
						</div>
					</div>
				</div>

				<div class="contrnItem">
					<div class="border-title clearfix">
						<span></span>
						<span class="Title">会议亮点</span>
					</div>
					<div class="box-new clearfix">
						<div class="ItemNews" style="margin-left:20px;">
								<p>
									权威性：具有行业内最强的权威性和专业性。2017第四届 海洋材料与腐蚀防护大会由中国腐蚀与防护学会主办，广东海洋	
								</p>
								<p>
									前沿性：具有行业内最强的权威性和专业性。2017第四届 海洋材料与腐蚀防护大会由中国腐蚀与防护学会主办，广东海洋
									
								</p>
								<p>
									品牌性：具有行业内最强的权威性和专业性。2017第四届 海洋材料与腐蚀防护大会由中国腐蚀与防护学会主办，广东海洋
									
								</p>
								<p>
									市场性：具有行业内最强的权威性和专业性。2017第四届 海洋材料与腐蚀防护大会由中国腐蚀与防护学会主办，广东海洋
									
								</p>
								<p>
									宣传性：具有行业内最强的权威性和专业性。2017第四届 海洋材料与腐蚀防护大会由中国腐蚀与防护学会主办，广东海洋
								</p>
						</div>
					</div>
				</div>

				<div class="contrnItem">
					<div class="border-title clearfix">
						<span></span>
						<span class="Title">历届回顾</span>
					</div>
					<div class="box-new clearfix">
						<div class="ItemNews" style="margin-left:20px;">
							<p>
								2017年12月10日-11日由中国腐蚀与防护学会主办、国家材 料环境腐蚀平台、中国海洋材料产业技术创新联盟、海洋防
							</p>
							<p>
								2016年9月20日-21日由中国腐蚀与防护学会主办、中科院 宁波材料技术与工程研究所合作承办“2016第三届海洋材
							</p>
							<p>
								2015年12月5日-6日由中国腐蚀与防护学会主办的“2015 第二届海洋材料腐蚀与防护大会”在北京隆重召开，共有来
							</p>
							<p>
								2014年12月20日-21日，由中国工程院化工、冶金与材料学 部，中国腐蚀与防护学会，中国有色金属学会共同主办的“
							</p>
						</div>
					</div>
				</div>

			</div>
			<!-- 主体内容end -->
			<!-- 侧栏start -->
			<div class="col-md-4" style="min-height: 460px;padding-left: 0px;padding-right: 0px;text-align: center;border:2px solid;border-color:#e4e1e1;padding-bottom: 30px;">
				<a href="" class="btn btn-primary" style="font-size:40px;padding: 10px;padding-left:80px;padding-right: 80px; border-radius: 50px;margin-top: 20px">点击报名</a>
				<br>
				<a href=""></a>
				<a href="" class="btn btn-primary" style="font-size:32px;padding: 10px;padding-left:50px;padding-right: 50px; border-radius: 50px;margin-top: 20px">开票信息表下载</a>
				<div class="sideItem">
					<h3>主办单位</h3>
					<div style="width: 310px;margin: 0 auto">
						<img src="__INDEX__/custom/images/host.png" alt="">
					</div>
				</div>

				<div class="sideItem">
					<h3><a href="#">联合创办单位(排名不分先后)</a></h3>
					<h5><a href="#">国家材料腐蚀平台</a></h5>
					<h5><a href="#">国家材料腐蚀平台啊阿斯顿撒旦</a></h5>
					<h5><a href="#">国家材料腐蚀平台sadsadsad</a></h5>
					<h5><a href="#">国家材料腐蚀平台dsadsadsa</a></h5>
				</div>

				<div class="sideItem">
					<h3>承办单位</h3>
					<h5><a href="#">北京丰盛环蚀技术有限公司</a></h5>
				</div>

				<div class="sideItem">
					<h3>合作承办单位</h3>
					<h5><a href="#">中山大学化学工程与技术学院</a></h5>
					<h5><a href="#">天津大学材料科学与工程学院</a></h5>
					<h5><a href="#">中国特种飞行器研究所</a></h5>
				</div>

				<div class="sideItem">
					<h3>支持单位(协办单位)(排名不分先后)</h3>
					<h5><a style="color:black" href="#">中国科学技术协会</a></h5>
					<h5><a href="#">国家科技基础条件平台中心</a></h5>
					<h5><a href="#">中国工程院化工冶金与材料学部</a></h5>
					<h5><a href="#">国家自然科学基金委员会工程与材料科学部</a></h5>
					<h5><a href="#">北京科技大学腐蚀与防护中心</a></h5>
				</div>
			</div>
			<!-- 侧栏end -->

			<!-- 媒体单位start -->
			<div class="row width-1200" style="clear:both;">
				<br>
				<div >
					<img style="width:1200px" src="__INDEX__/custom/images/ballpic.jpg" alt="">
				</div>
				<div class="contrnItem">
					<div class="border-title clearfix" style="margin-left:15px;">
						<span></span>
						<span class="Title">媒体单位</span>
					</div>
					<div class="box-new clearfix row" style="margin-left:10px;">
						<div class="ItemNews row" style="margin-left:20px;">
							<a class="col-md-4" href="#" style="color:black;">
								<h5>中国腐蚀与防护网</h5>
								</p>
							</a>
							<a class="col-md-4" href="#" style="color:black;">
								<h5>《腐蚀防护之友》杂志</h5>
								</p>
							</a>
							<a class="col-md-4" href="#" style="color:black;">
								<h5>《电镀与涂饰》杂志</h5>
								</p>
							</a>
							<a class="col-md-4" href="#" style="color:black;">
								<h5>《中国腐蚀与防护学报》杂志</h5>
								</p>
							</a>
							<a class="col-md-4" href="#" style="color:black;">
								<h5>《中国腐蚀与防护学报》杂志</h5>
								</p>
							</a>
							<a class="col-md-4" href="#" style="color:black;">
								<h5>《中国腐蚀与防护学报》杂志</h5>
								</p>
							</a>
							<a class="col-md-4" href="#" style="color:black;">
								<h5>《中国腐蚀与防护学报》杂志</h5>
								</p>
							</a>
							<a class="col-md-4" href="#" style="color:black;">
								<h5>《腐蚀防护之友》杂志</h5>
								</p>
							</a>
							<a class="col-md-4" href="#" style="color:black;">
								<h5>《腐蚀防护之友》杂志</h5>
								</p>
							</a>
							<a class="col-md-4" href="#" style="color:black;">
								<h5>《腐蚀防护之友》杂志</h5>
								</p>
							</a>
							<a class="col-md-4" href="#" style="color:black;">
								<h5>《腐蚀防护之友》杂志</h5>
								</p>
							</a>
							<a class="col-md-4" href="#" style="color:black;">
								<h5>《腐蚀防护之友》杂志</h5>
								</p>
							</a>
						</div>
					</div>
					<!-- 媒体单位end -->
				</div>
			</div>
		</div>
		<!-- content end -->
		<footer>{include file="common/footer"}</footer>
	</div>
	<script src="__INDEX__/custom/js/jquery.min.js"></script>
	<script src="__INDEX__/custom/js/p.js"></script>
	<script src="__INDEX__/custom/js/bootstrap.min.js"></script>
	<script>
		$(function () {
			$('.qiehuan span').on('click', function () {
				$(this).addClass('active').siblings().removeClass('active')
			})
			var mynav = $('nav li').find('a'); //寻找导航的a元素 　　
			for (var i = 0; i < mynav.length; i++) {
				var links = mynav[i].getAttribute('href'); //取出每个链接的href属性的值
				var myurl = document.location.href; //取出当前窗口的链接
				if (myurl.indexOf(links) != -1) { //判断浏览器地址是否等于当前a元素的href属性
					$(mynav[i]).parent().addClass('nav-hover')
				}
			}
			//描点定位
			$('.platform-aside a').each(function (i) {
				$('.platform-aside a').eq(i).on('click', function () {
					$('html, body').animate({ scrollTop: $('#pone' + i).offset().top }, 500);
					$(this).addClass('current').siblings().removeClass('current');
				})
			})

		})
	</script>
</body>

</html>